OPENAI_API_KEY="Hier kommt dein OpenAI API Key rein"
PORT="Hier kommt der Port rein, auf dem der Server laufen soll"
DATABASE_URL="Hier kommt die URL deiner Datenbank rein, z.B. postgresql://username:password@localhost:5432/inprove"